@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul,li,ol{
	list-style:none;
	}
img{
	border:none;
	}
a{
	text-decoration:none;
	color:#b0b0b0;
	}
h1,h2,h3,h4,h5,h6,strong,b{
	font-weight:normal;
	}
em,i{
	font-style:normal;
	}
.left{
	float:left;
	}
.right{
	float:right;
	}
.clear{
	clear:both;
	}
body{
	font:12px "微软雅黑";
	}
.header,.header2,.banner,.main1,.main2,.main3,.footer_top,.footer_center,.footer_bottom{
	width:1226px;
	margin:0 auto;
	}
/*header*/
	.bc{
		height:40px;
		width:100%;
		background:#333333;
		overflow:hidden;
		}
	.header{
		overflow:hidden;
		}
		/*nav*/
		.nav{
			height:40px;
			}
		.nav li{
			float:left;
			height:40px;
			line-height:40px;
			background:url(../images/sp.jpg) right center no-repeat;
			padding:0 9px 0 8px;
			}
		.nav .last{
			background:none;
			}
		.nav .first a{
			padding-left:0;
			}
		
		/*dl*/
		.dl{
			width:81px;
			margin-right:12px;
			}
		.dl li{
			padding:0 8px;
			}
		/*shooping*/
	.shooping{
		width:120px;
		height:40px;
		background:url(../images/shooping.jpg) #424242 no-repeat 17px center;
		color:#b0b0b0;
		line-height:40px;
		font-size:11px;
		padding-left:41px;
		}
/*header2*/
	.header2{
		height:100px;
		width:1226px;
		margin:0 auto;
		}
	/*logo*/	
	.logo{
		diaplay:block;
		width:55px;
		height:55px;
		margin-top:22px;
		margin-right:175px;
		}
	/*nav2*/
	.nav2{
		height:100px;
		}
	.nav2 li{
		height:100px;
		line-height:100px;
		font-size:16px;
		text-align:center;
		float:left;
		padding:0 18px;
		}
	.nav2 li a{
		height:100px;
		color:#333333;
		}
	/*inp*/
	.inp{
		margin-top:25px;
		}
	.inp .intext{
		width:243px;
		height:48px;
		border:1px solid #e0e0e0;
		float:left;
		}
	.inp .insub{
		width:50px;
		height:48px;
		border:0;
		background:url(../images/insub.jpg);
		folat:left;
		}
	.inp p{
		width:50px;
		height:48px;
		border:1px solid #e0e0e0;
		border-left:0;
		float:left;
		}
/*banner*/
	.banner{
		height:460px;
		position:relative;
		}
	.banner_nav{
		background:#652513;
		width:180px;
		height:440px;
		position:absolute;
		left:0;
		top:0;
		padding:20px 24px 0 30px ;	
		opacity:.85;
		filter:alpha(opacity=85);	
		}
	.banner_nav li{
		line-height:42px;
		font-size:14x;
		color:#ffffff;
		background:url(../images/jiao.jpg) no-repeat right center;
		}
/*main1*/
	.main1{
		height:170px;
		margin-top:14px;
		}
	.main1_l{
		width:234px;
		height:170px;
		background:#5f5750;
		float:left;
		margin-right:14px;
		}
	.show{
		width:215px;
		height:151px;
		margin:10px 0 0 10px;
		overflow:hidden;
		}
	.show ul{
		width:228px;
		margin-left:-5px;
		}
	.show li{
		width:75px;
		height:61px;
		float:left;
		border-bottom:1px solid #665e57;
		border-right:1px solid #665e57;
		text-align:center;
		line-height:30px;
		padding-top:14px;
		}
	.show img{
		display:block;
		margin:0 auto;
		}
	.pic{
		float:left;	
		}
	.m15{
		margin:0 15px;
		}
/*main2*/
	.mian2{
		height:424px;
		}
	.tit{
		height:84px;
		line-height:110px;
		font-size:20px;
		color:#333333;
		overflow:hidden;
		}
	.main2_list{
		height:339px;
		}
	.main2_list li{
		width:234px;
		height:339px;
		line-height:23px;
		float:left;
		text-align:center;
		background:#fafafa;
		margin-right:14px;
		}
	.main2_list a{
		color:#212121;
		}
	.main2 span{
		display:block;
		color:#b6b0c0;
		}	
	.main2_list li img{
		display:block;
		margin:49px auto 39px;
		}
	.main2_list .mar0{
		margin-right:0;
		}
	.one{border-top:1px solid #ffac13;}
	.two{border-top:1px solid #83c44e;}
	.thr{border-top:1px solid #2196f3;}
	.fou{border-top:1px solid #e53935;}
	.fif{border-top:1px solid #00c0a5;}		
/*main3*/
	.main3_back{
		height:424px;
		width:100%;
		background:#f5f5f5;
		margin-top:14px;
		}
	.main3{
		height:424px;
		}
	.tit1{
		height:80px;
		line-height:100px;
		}
	.tit1 a{
		background:url(../images/more.jpg) no-repeat right center;
		float:right;
		font-size:17px;
		padding-right:28px;
		}
	.tit1 span{
		float:left;
		}	
	.main3_list li{
		width:296px;
		height:286px;
		line-height:25px;
		float:left;
		margin-right:14px;
		text-align:center;
		background:#fff;
		}
	.main3_list li img{
		diaplay:block;
		margin-bottom:26px;
		float:left;
		}
	.main3_list a{
		color:#212121;
		}
	.main3_list span{
		display:block;
		color:#b6b0c0;
		}				
	.main3_list .mar0{
		margin-right:0;
		}	
/*footer_top*/
	.footer_top{
		height:53px;
		border-bottom:1px solid #e0e0e0;
		padding-top:27px;
		}	
	.footer_list li{
		width:243px;
		height:25px;
		line-height:25px;
		font-size:17px;
		background:url(../images/fsp.jpg) no-repeat right center;
		float:left;
		}	
	.footer_list img{
		float:left;
		margin:0 8px 0 49px;
		}
	.footer_list a{
		color:#616161;
		}
	.footer_list .bgn{
		background:none;
		}
/*footer_center*/
	.footer_center{
		height:196px;
		}		
	.fc_l ul{
		width:166px;
		float:left;	
		}
	.fc_l .fc_tit{
		height:76px;
		line-height:94px;
		font-size:14px;
		overflow:hidden;
		}
	.fc_l .fc_tit a{
		color:#424242;
		}
	.fc_l li{
		height:28px;
		line-height:28px;
		font-size:12px;
		}
	.fc_l li a{
		color:#757575;
		}
	.fc_r{
		width:243px;
		height:193px;
		background:url(../images/fc_sp.jpg) no-repeat left center;
		text-align:center;
		}		
	.fc_r .call{
		height:66px;
		line-height:100px;
		color:#ff6700;
		font-weight:900;
		font-size:18px;
		}
	.fc_r .time{
		height:44px;
		line-height:18px;
		color:#616161;
		}
/*footer_bottom*/
	.fb_back{
		width:100%;
		height:95px;
		background:#fafafa;
		}
	.fb_l{
		width:780px;
		padding-top:22px;
		}
	.fb_l img{
		float:left;
		margin-right:10px;
		}		
	.fb_l p{
		float:left;
		line-height:18px;
		color:#9e7575;
		}
	.fb_l p span{
		display:block;
		color:#b6b0b0;
		}
	.fb_l p a{
		margin:0 6px;
		color:#757575;
		}
	.fb_l p .mar0{
		margin-left:0;
		}
			
	.fb_r{
		padding-top:23px;
		}
	.fb_r p{
		width:82px;
		float:left;
		line-height:16px;
		color:#7e7e7e;
		}
	.fb_r img{
		float:left;
		}
	.fb_r span{
		float:right;
		}
	.fb_r .h32{
		line-height:32px;
			}	
	.fb_r  .mar{
		margin:0 12px 0 14px;
		}